/* GENERAL */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Source+Sans+3:wght@400;600;700;900&display=swap');

/* variables */
:root {
    --forza_yellow: #f5bb00;
    --forza_white: #f5f5f5;
    --forza_gray: #272727;
}


/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

@media (min-width: 576px) {
    .padding-def {
        padding: 0 60px;
    }
}

@media (min-width: 768px) {
    .padding-def {
            padding: 0 60px;
        }
}

@media (min-width: 992px) {
    .padding-def {
            padding: 0 80px;
        }
}

@media (min-width: 1200px) {
    .padding-def {
            padding: 0 100px;
        }
}

@media (min-width: 1400px) {
    .padding-def {
            padding: 0 120px;
        }
}



/* buttons */
button {
    padding: 0.3rem 2rem;
}

.custom-btn {
    display: inline-block;
    z-index: 10;
}

.custom-btn:hover {
    cursor: pointer;
}

/* primary */
.forza-btn-primary {
    background: var(--forza_yellow);
    border: 2px solid var(--forza_yellow);
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    color: var(--forza_gray);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease all;
}

.forza-btn-primary:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    transform: scale(1.02);
}

.forza-btn-primary:active {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    transform: scale(1.01);
}

/* primary light */
.forza-btn-primary-light {
    background: var(--forza_gray);
    border: 2px solid var(--forza_gray);
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    color: var(--forza_white);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.forza-btn-primary-light:hover {
    background: #303030;
    border: 2px solid #303030;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

.forza-btn-primary-light:active {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

/* secondary */
.forza-btn-secondary {
    background: none;
    border: 2px solid var(--forza_yellow);
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    color: var(--forza_yellow);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.forza-btn-secondary:hover {
    text-shadow: 0px 0px 8px rgba(245, 187, 0, 0.1);
    box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.75);
    transform: scale(1.02);
}

.forza-btn-secondary:active {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(245, 187, 0, 0.75);
    transform: scale(1.01);
}

/* secondary light */
.forza-btn-secondary-light {
    background: none;
    border: 2px solid var(--forza_gray);
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    color: var(--forza_gray);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.forza-btn-secondary-light:hover {
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.forza-btn-secondary-light:active {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

/* terciary */
.forza-btn-terciary {
    background: none;
    border: none;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    color: var(--forza_yellow);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.forza-btn-terciary:hover {
    text-shadow: 0px 0px 10px rgba(245, 187, 0, 0.9);
}

.forza-btn-terciary:active {
    color: #cc9c01;
    text-shadow: 0px 0px 8px rgba(245, 187, 0, 1);
}

/* terciary light */
.forza-btn-terciary-light {
    background: none;
    border: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    color: var(--forza_gray);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.forza-btn-terciary-light:hover {
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

.forza-btn-terciary-light:active {
    color: #606060;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}





/* navbar */
nav {
    background: linear-gradient(to bottom, #000, #0003 80%, #0000);
    transition: background .4s;
}

nav.scrolled {
    background: rgba(15, 15, 15, 0.9);
}

.navbar__forzalogo {
    height: 40px;
}

.nav-item {
    margin: 0 0 0 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

@media (max-width: 991.98px) {
    nav {
        background: rgba(15, 15, 15, 0.9);
    }

    .navbar-nav a {
        margin: 0.5rem;
    }

    .dropdown-menu {
        width: 50vw;
    }

    nav .dropdown {
        text-align: center;
    }

    nav .dropdown-item:focus {
        max-width: 45vw;
    }
}



/* footer */
.footer__bg {
    background: var(--forza_gray);
}

.footer__links a {
    color: #b6b6b6;
    transition: 0.3s ease;
}

.footer__links a:hover {
    color: var(--forza_white);
}

.footer__links h5 {
    color: var(--forza_yellow);
}

#newsletter1 {
    border-radius: 0;
}

#newsletter1:focus {
    -webkit-box-shadow: 0px 0px 0px 3px var(--forza_yellow);
    box-shadow: 0px 0px 0px 3px var(--forza_yellow);
}

footer ul li a {
    color: #b6b6b6;
    margin: 0 1rem;
    font-size: 1rem;
    transition: 0.3s ease;
}

footer ul li a:hover {
    color: var(--forza_yellow);
}

.footer__copy {
    font-size: 0.8rem;
    color: #b6b6b6;
}

/* INDEX */
/* hero */
.index__hero {
    background-image: url(../img/6.jpg);
    min-height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    text-align: center;
}

.index__hero h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--forza_white);
}

.index__hero--yellowtext {
    color: var(--forza_yellow);
}

/* section 1 - cards */
.index__cards--bg {
    background: rgb(227, 176, 0);
    background: radial-gradient(circle, rgba(227, 176, 0, 1) 0%, rgba(196, 152, 0, 1) 100%);
    padding: 3rem 0;
}

.index__cards--title {
    text-align: center;
}

.index__cards--container {
    margin: 30px;
}

.index__cards--row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.index__cards--img {
    background: #000;
    position: relative;
    flex: 1;
    max-width: 430px;
    height: auto;
    margin: 10px;
    overflow: hidden;
}

.index__cards--img img {
    width: 100%;
    opacity: 0.5;
    position: relative;
    vertical-align: top;
    transition: 0.5s;
    transition-property: opacity;
}

.index__cards--img:hover img {
    opacity: 0.1;
}

.index__cards--img .index__cards--details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.index__cards--img .index__cards--details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 70px;
    transition: 0.6s;
    transition-property: transform;
}

.index__cards--img:hover .index__cards--details h2 {
    transform: translateY(-30px);
}

.index__cards--img .index__cards--details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.index__cards--img:hover .index__cards--details p {
    opacity: 1;
    transform: translateY(-40px);
}

.index__cards--more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.index__cards--more a {
    color: var(--forza_gray);
}

.index__cards--img:hover .index__cards--more {
    bottom: 0;
}

/* section 2 - app */
.index__app--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 200px;
}

.index__app--applogo {
    max-height: 50px;
    margin: 0 2rem 0 0;
    transition: 0.3s ease;
}

.index__app--applogo:hover {
    transform: scale(1.03);
}

.index__app--mockup {
    position: relative;
    height: 300px;
    top: -50px;
}

@media (max-width: 992px) {
    .index__app--mockup {
        display: none;
    }

    .index__app--container {
        justify-content: center;
        text-align: center;
        height: auto;
        padding: 2rem 0;
    }
}

/* contacto */
.index__contact--bg {
    background: rgb(227, 176, 0);
    background: radial-gradient(circle, rgba(227, 176, 0, 1) 0%, rgba(196, 152, 0, 1) 100%);
    display: flex;
    flex-wrap: wrap;
}

.index__contact--left {
    background: #2a2a2a;
    color: var(--forza_white);
}

.index__contact--left h3 {
    padding: 0 0 2rem 0;
}

.index__contact--left--bottom {
    display: flex;
    justify-content: space-between;
}

.index__contact--socials a {
    color: var(--forza_white);
    text-decoration: none;
}

.index__contact--socials i {
    color: var(--forza_yellow);
}

@media (max-width: 1200px) {
    #index__contact--map {
        height: 400px;
    }
}

@media (max-width: 580px) {
    .index__contact--right {
        width: 100%;
    }
    .index__contact--left {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .index__contact--left--bottom--button {
        width: 100%;
        display: flex;
    }
    .index__contact--left--bottom--button button {
        width: 100%;
        display: inline-block;
    }
}

#index__contact--logowpp {
    height: 50px;
    width: auto;
}

#index__contact--qr {
    height: 200px;
    width: auto;
}

@media (max-width: 1199.98px) {
    #index__contact--qr {
        display: none;
    }
}

.index__contact label {
    font-weight: 700;
}

.index__contact input,
.index__contact textarea,
.index__contact select {
    border-radius: 0;
    margin-bottom: 1.5rem;
    transition: 0.3s ease;
}

.index__contact input:focus,
.index__contact textarea:focus,
.index__contact select:focus {
    -webkit-box-shadow: 0px 0px 0px 2px var(--forza_yellow);
    box-shadow: 0px 0px 0px 2px var(--forza_yellow);
}

.index__wpp--cta h3 {
    font-weight: 700;
    margin-bottom: 0;
}

/* NOSOTROS */
/* hero */
.nosotros__hero {
    background-image: url(../img/person-in-sport-gym-using-kettlebells.jpg);
    min-height: 50vh;
    background-size: cover;
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    text-align: center;
}

.nosotros__hero h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--forza_white);
}

.nosotros__hero--yellowtext {
    color: var(--forza_yellow);
}

/* cards */
#nosotros__cards {
    background: rgb(227, 176, 0);
    background: radial-gradient(circle, rgba(227, 176, 0, 1) 0%, rgba(196, 152, 0, 1) 100%);
}

#nosotros__cards h2 {
    font-weight: 700;
}

#nosotros__cards p {
    margin: auto;
}

@media (min-width: 768px) {
    #nosotros__cards p {
        max-width: 700px;
    } 
}

#nosotros__cards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2rem;
}

#nosotros__cards ul li {
    max-width: 300px;
}

.nosotros__cards--container .cnt-block:hover {
    border: 0;
    transform: scale(1.05);
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 1);
}

.nosotros__cards--container .cnt-block {
    width: 100%;
    background: var(--forza_gray);
    padding: 30px 20px;
    text-align: center;
    margin: 0 0 28px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.nosotros__cards--container .cnt-block img {
    object-fit: cover;
    width: 148px;
    height: 148px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.5);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 1px rgba(245, 187, 0, 0.5);
}

.nosotros__cards--container .cnt-block h3 {
    color: var(--forza_white);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 6px 0;
    text-transform: uppercase;
}

.nosotros__cards--container .cnt-block p {
    color: var(--forza_white);
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: 400;
}

/* cta */
#nosotros__cta {
    background: var(--forza_gray);
    color: var(--forza_white);
}

#nosotros__cta h3 {
    color: var(--forza_yellow);
    font-weight: 700;
}


@media (min-width: 768px) {
    .nosotros__cta--btn button {
        height: 100%;
    }
    .nosotros__cta--btn a {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

/* mision vision */
#nosotros__mision-vision {
    background: rgb(227, 176, 0);
    background: radial-gradient(circle, rgba(227, 176, 0, 1) 0%, rgba(196, 152, 0, 1) 100%);
}

.nosotros__mision-vision--mision {
    max-width: 100%;
    margin: auto;
}

.nosotros__mision-vision--vision {
    max-width: 100%;
    margin: auto;
    text-align: right;
}

